.insert {
    width: 100%;
    input {
        width: 60%;
        padding: 2%;
        font-size: 24px;
        margin-right: 5%;
    }
    button {
        width: 20%;
        padding: 2%;
        font-size: 24px;
        color: green;
    }
}