.solve-quiz {
    width: 100%;
    margin: 2% 0;
    .question-list {
        width: 100%;
        li {
            width: 100%;
            cursor: pointer;
            &:hover {
                background-color: #636363;
            }
        }
    }
}